:root {
  --neutral-900: hsl(0, 0%, 7%);
  --neutral-800: hsl(0, 0%, 15%);
  --neutral-500: hsl(240, 3%, 46%);
  --neutral-400: hsl(240, 1%, 59%);
  --neutral-0: hsl(0, 0%, 100%);
  --blue-600: hsl(214, 100%, 55%);
  --blue-400: hsl(210, 100%, 65%);
  --red-500: hsl(354, 63%, 57%);
  --green-500: hsl(140, 63%, 57%);
  --yellow-400: hsl(49, 85%, 70%);
}
@font-face {
  font-family: "Sora";
  src: url(https://fonts.google.com/specimen/Sora);
  font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background: #000; */
  margin: 0 auto;
  padding: auto;
  width: 90%;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .personal-data { */
/*   display: flex; */
/* } */

.site-info {
  width: fit-content;
  position: relative;
}

.site-info p {
  font-family: "Sora";
  font-weight: 600;
  position: absolute;
  top: 10%;
  left: 20%;
}

.site-info img {
  display: block;
}
.personal-data {
  width: 250px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.personal-data img {
  float: left;
  height: 60%;
}

.test-options {
  display: flex;
  flex-direction: row;
}

.stats,
.difficulty,
.mode {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
